<section class="container">
  <div class="d-flex justify-content-between mt-4">
    <div class="d-flex justify-content-between align-items-end gap-4">
      <div>
        <label i18n for="temp"> Temperature measurement </label>
        <select
          id="temp"
          class="form-select"
          [(ngModel)]="selectedValue"
          (change)="changeEventSelector()"
        >
          @for (temp of arrayTempMeasure(); track $index) {
          <option i18n [value]="temp">&deg;{{ temp }}</option>
          }
        </select>
      </div>

      <div class="input-group">
        <input
          class="form-control"
          placeholder="Type city..."
          [(ngModel)]="defaultCity"
        />
        <button
          i18n
          class="btn btn-outline-primary"
          (click)="clickEventInputDefaultCity()"
        >
          add
        </button>
      </div>
      <div>
        <div class="d-flex gap-3">
          @for (lang of localList(); track $index) {
          <p>
            <a
              href="/{{ lang.code }}/settings"
              class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >{{ lang.label }}</a
            >
          </p>

          }
        </div>
      </div>
    </div>
    <app-toggle-theme />
  </div>
</section>
