<div #chart>
  <div class="d-flex justify-content-end">
    <div>
      <label i18n for="measurement">Measurement </label>
      <select
        id="measurement"
        class="form-select"
        [(ngModel)]="selectedValue"
        (change)="changeEventSelector()"
      >
        <option i18n value="temperature">temperature</option>
        <option i18n value="precipitation">precipitation</option>
      </select>
    </div>
  </div>
  @if(chartOptions){
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [dataLabels]="chartOptions.dataLabels"
    [yaxis]="chartOptions.yaxis"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
  ></apx-chart>
  }
</div>
