<section
  class="container h-100 d-flex flex-column justify-content-center flex-wrap align-content-center"
>
  <div class="w-50">
    <form
      [formGroup]="form"
      (submit)="submitEvent()"
      class="d-flex flex-column"
    >
      <div class="mb-3">
        <label i18n for="email" class="form-label">Email address</label>
        <input
          i18n
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
        />
        <div i18n id="email" class="form-text error-message text-danger">
          @if(isValidEmail){invalid email}
        </div>
      </div>

      <div class="mb-3">
        <label i18n for="password" class="form-label">Password</label>
        <input
          i18n
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          aria-describedby="password"
        />

        <div i18n id="name" class="form-text error-message text-danger">
          @if(isValidPassword){should be equal}
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div i18n class="form-text error-message text-danger">
          @if(errorMessage()){
          {{ errorMessage() }}
          }
        </div>

        <button
          i18n
          type="submit"
          class="btn btn-primary"
          [disabled]="isDisable"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
