<section class="container-lg">
  <div class="box-input my-3 gap-4">
    <input
      class="form-control d-inline w-25"
      list="crypto"
      placeholder="Type to search..."
      [(ngModel)]="city"
      (change)="changeEventInput()"
    />
    <datalist id="crypto">
      @for (city of cities(); track $index) {
      <option [value]="city.name">{{ city.name }}</option>
      }
    </datalist>
    <div class="">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="country"
          [(ngModel)]="isCountryChecked"
          (change)="onCheckboxCountryChange()"
        />
        <label class="form-check-label" for="country"> by country </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="population"
          [(ngModel)]="isPopulationChecked"
          (change)="onCheckboxPopulationChange()"
        />
        <label class="form-check-label" for="population"> by population </label>
      </div>
    </div>
  </div>

  <app-cards title="My favorites cities" />
  <app-cards title="Popular cities" />
</section>
